body{
margin:0;
font-family:Arial;
background:#050814;
color:white;
}

/* HOME */
.welcome{
text-align:center;
padding:80px 20px;
}

.logo{
font-size:40px;
font-weight:bold;
color:#00d4ff;
}

.btns a{
display:inline-block;
margin:10px;
padding:12px 25px;
background:#00d4ff;
color:black;
text-decoration:none;
border-radius:10px;
}

/* FORMS */
.form-box{
max-width:350px;
margin:80px auto;
padding:20px;
background:#0b1220;
border-radius:15px;
}

input{
width:100%;
padding:12px;
margin:10px 0;
border:none;
border-radius:8px;
}

button{
width:100%;
padding:12px;
background:#00d4ff;
border:none;
border-radius:8px;
}

/* DASHBOARD */
.topbar{
display:flex;
justify-content:space-between;
padding:15px;
}

.stats{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
padding:15px;
}

.card{
background:#111a2e;
padding:15px;
border-radius:10px;
text-align:center;
}

.messages{
padding:15px;
}

.msg{
padding:10px;
margin:5px 0;
background:#111a2e;
border-radius:8px;
}

/* MACHINES */
.machine{
background:#111a2e;
padding:15px;
margin:10px;
border-radius:10px;
}

.bottom-nav{
position:fixed;
bottom:0;
width:100%;
display:flex;
justify-content:space-around;
background:#0b1220;
padding:10px;
  }
